@use "../util" as *;

h1,
h2,
h3 {
    margin-top: 0;
    line-height: 1.1;
}

a,
a:visited,
a:active {
    text-decoration: none;
}

h1 {
    margin: rem(30);
    color: white;
    font-weight: bolder;
    font-family: var(--font-body);
    text-align: center;
    font-size: rem(35);
    @include breakpoint(medium) {
        font-size: rem(50);
    }
}

h2 {
    color: white;
    font-weight: bold;
    font-family: var(--font-body);
}

h3 {
    color: white;
    font-weight: bold;
    font-family: var(--font-body);
}

p {
    color: white;
    font-weight: light;
    font-family: var(--font-body);
}

li {
    list-style: disc;
    color: wheat;
}

.subtitle {
    section {
        margin: rem(20) 0;
    }
}
